*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
.headerTop{
  /* background: #5e5e5e; */
  background-color: #303030;
  justify-content: center;
  align-content: center;
  height: 40px;
  margin: 0 auto;
  padding: 0 15px;
}
.headerTop .headerTopA{
  color: rgba(255, 255, 255, 0.95);
  font-size: 16px; 
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}
.headerTop .headerTopButton{
  color: rgba(255, 255, 255, 0.95);
  font-size: 16px;
  /* margin: 10px; */
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  width: 200px;
  height: 30px !important;
  /* float: right; */
  float: left;
  /* line-height: 36px; */
  background-color: #3B377C;
  cursor: pointer;
}

.headerBottom{
  /* display: inline-block; */
  display: flex;
  justify-content: center;
}
.header {
  background-color: rgba(255, 255, 255, 0.95);
  height: 75px;
  text-align: center;
  color: Blue;
  font-size: 30px;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 25% 75%;
}

.header-vertical-center {
  display: flex;
  align-items: center;
}

p {
  font-size: 24px;
  margin-left: 10px;
  color: var(--color-black);
}

.logo-text {
  grid-column-start: 1;
  width: 150px;
  height: 25px;
  margin-left: 60px;
}

.divider {
  display: flex;
  flex-direction: row;
  border-left: 3px solid var(--color-gray);
  height: 35px;
  margin-right: 15px;
  margin-left: 15px;
}
.toggle-btn{
  display: none;
  justify-self: right;
  margin-right: 20px;
  margin-top: 23px;
  position: absolute;
  height: 23px;
  width: 30px;
  background: none;
  border: none;
}
.navigate {
  grid-column-start: 2;
  display: grid;
  justify-self: right;
  align-items: center;
  width: 650px;
  grid-template-columns: 25% 25% 35% 15%;
  font-size: 20px;
  cursor: pointer;
  padding-right: 0;
}
.navigate .navigate__link + .navigate__link{
  padding-left: 10px;
}
.navigate__link {
  /*  */
  /* list-style: none; */
  /*  */
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  position: relative;
  color: black;
  text-decoration: none;
  transition: color 0.1s linear;
  border: 3px solid transparent;
}

.navigate__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #3b377c;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  /* z-index: 1;
  transition: opasity 0.1s linear; */
}
.navigate__link:hover {
  color: #3b377c;
  /* border-color: #3b377c; */
}
.navigate__link:hover::after {
  display: block;
  opacity: 1;
}

.contentModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  z-index: 30 !important;
}
.formboxModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.input-wrapperModal{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 440px;
}
.input-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: -5px;
  border-radius: 50px;
  padding: 3px 3px;
  cursor: pointer;
  transition: all .4s ease;
}
.input-icon.selected {
  background-color: #2d2d2d;
}
.input-icon img {
  max-width: 100%;
}
.right-sideModal {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}
.topic {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 7px;
  color: black;
}
.topic-textModal {
  font-size: 30px;
  font-weight: 600;
  color: #3b377c;
  margin-bottom: 0px;
}
.p-textModal {
  color: black;
  font-size: 20px;
}
.right-sideModal p {
  margin-bottom: 20px;
}

.label-t {
  grid-column-start: 2;
  justify-self: left;
  font-size: 14px;
  color: #afafb6;
  margin-left: -210px;
}

.label-t1 {
  grid-column-start: 2;
  justify-self: left;
  font-size: 14px;
  color: #afafb6;
  margin-left: -290px;
}
.label-t2 {
  grid-column-start: 4;
  justify-self: left;
  font-size: 14px;
  color: #afafb6;
  margin-left: -290px;
}
.label-t3 {
  grid-column-start: 6;
  justify-self: left;
  font-size: 14px;
  color: #afafb6;
  margin-left: -240px;
}

.message-box {
  display: flex;
  align-items: center;
  width: 85%;
  margin-top: 10px;
}
.input-t {
  resize: none;
  min-height: 110px;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 5px;
  background: #f0f1f8;
  border: none;
  outline: none;
}
.message-box textarea {
  resize: none;
  min-height: 110px;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 5px;
  background: #f0f1f8;
  border: none;
  width: 200%;
  height: 100%;
  padding-top: 15px;
  outline: none;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.buttonFormboxModal{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aFormboxModal{
  font-size: 14px;
  margin-top: 10px;
  color:#454545;
  cursor: pointer;
}
.aFormboxModal:hover{
  color: #3B377C;
}
.buttonMyButtonHeader{
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  background: #3B377C;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  font-size: 18px;

  width: 200px;
  height: 35px;
  margin-right: 5px;
  margin-left: 5px;
}
.buttonMyButtonHeader:hover{
  background: #5652a3;
}
.inputMyInputHeader{
  height: 50px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;

  font-size: 16px;
  border: none;
  width: 80%;
  /* height: 100%; */
  background: #f0f1f8;
  padding: 0 20px;
  border-radius: 5px;
  outline: none;
}
.inputMyInputHeader textarea{
  resize: none;
  padding: 20px;
  /* width: 100%;
  height: 100%; */
}
.inputMyInputHeaderPassword{
  height: 50px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
}


@media only screen and (max-width: 1200){
  
  .headerTop .headerTopButton{
    /* color: rgba(255, 255, 255, 0.95); */
    /* font-size: 16px; */
    /* margin: 10px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 30px;
    margin-top: 10px;
    /* float: right; */
    /* line-height: 36px; */
    background-color: #3B377C;
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
  .inputMyInputHeaderPassword{
    width: 100px !important;
    height: 50px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .inputMyInputHeader{
    font-size: 14px;
    border: none;
    width: 200px;
    height: 35px !important;
    background: #f0f1f8;
    padding: 0 20px;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
  .buttonMyButtonHeader{
    width: 150px;
    
    margin-bottom: 0px;
    height: 20px;
    font-size: 15px;
  }
  /*  */
  .navlinklast {
    margin: 15px !important;
  }
  .headerTop{
    justify-content: center;
    text-align: center;
    align-content: center;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
    /* grid-template-rows: 30% 30% 35%; */
    /* grid-template-columns: none; */
    /* grid-column-start: 1; */
    justify-content: center;
    vertical-align: top;
    /* display: grid;
    grid-row: 30% 30% 40%; */
  }
  .headerTop .headerTopA{
    /* display: inline-block; */
    /* color: rgba(255, 255, 255, 0.95); */
    font-size: 15px;
    margin: 7px;
  }
  .headerTop .headerTopButton{
    /* color: rgba(255, 255, 255, 0.95); */
    /* font-size: 16px; */
    /* margin: 10px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    width: 350px;
    height: 30px;
    margin-top: 10px;
    /* float: right; */
    /* line-height: 36px; */
    background-color: #3B377C;
    cursor: pointer;
  }
  /*  */
  .logo-text {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 130px;
    height: 19px;
    text-align: center;
    margin-left: 30px;
  }
  .divider {
    display: flex;
    flex-direction: row;
    border-left: 3px solid var(--color-gray);
    height: 35px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .navigate {
    grid-template-rows: 25% 25% 25%;
    grid-template-columns: none;
    font-size: 18px;
    margin-top: 75px !important;
    width: 100%;
    padding: 10px;
    background-color: rgba(240, 241, 248, 0.9);
    grid-column-start: 1;
    justify-content: center;
    position: absolute;
    z-index: 10000;
  }
  .navigate a{
    margin: 8px;

  }
  .navigate__link{
    margin-bottom: 5px;
  }

  .toggle-btn{
    display: inline;
  }
  .span-btn{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #665;
    margin: 3px 0;
  }
  .contentModal {
    height: 0%;
    flex-direction: column-reverse;
    width: 200px;
  }
  .right-sideModal {
    width: 80%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .topic-textModal {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .p-textModal {
    font-size: 14px;
    margin: 0px 0px 5px;
  }
  .label-t {
    font-size: 12px;
    color: #afafb6;
    margin-left: -40px;
  }
  .label-t1 {
    font-size: 12px;
    margin-left: -70px;
  }
  .label-t2 {
    font-size: 12px;
    margin-left: -70px;
  }
  .label-t3 {
    font-size: 12px;
    margin-left: -30px;
  }
  .input-t {
    resize: none;
    min-height: 110px;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 5px;
    background: #f0f1f8;
    border: none;
    outline: none;
  }
  .input-wrapperModal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    /* padding-right: 5px;
    padding-left: 5px; */
/*     
  flex-direction: column; */
  align-items: center;
  }
  .input-icon {
    margin-right: 10px;
    width: 35px;
    margin-top: -5px;
    border-radius: 50px;
    padding: 3px 3px;
  }
  .buttonFormboxModal{
    display: grid;
  }
}
