*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
.elementChat{
    height: auto;
    display: grid;
}
.backElementChat{
    margin-top: 2%;
    /* margin-left: 10%; */
    display: grid;
    grid-template-columns: 80px auto 80px;
}
/*  */
/*  */
.elementNotMyApp{
    height: auto;
    display: flex;
    /* grid-template-columns: 80px auto 80px; */
}
.backElementChatNot{
    /* grid-column-start: 2; */
    margin-top: -20%;
    margin-left: -70%;
    /* display: grid;
    grid-template-columns: 80px auto 80px; */
}
.notApplic{
    margin-top: 35%;
}
/*  */
/*  */
.backBoxElementChat{
    grid-column-start: 2;
}
.pBackBox{
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin: 0;
}
.pBackBox::before{
    content: "";
    display: block;
    width: 0px;
    height: 24px;
    margin-right: 5px;
    overflow: hidden;
    background-image: url("../../assets/image/backk.png");
    background-size: 24px;
    transition: width 200ms, margin-right 200ms;
}
.pBackBox:is(:hover,:focus)::before{
    width: 24px;
    margin-right: 8px;
}



.pageChat {
    min-height: 400px;
    margin-top: 2%;
    margin-bottom: 5%;
}
.listChat {
    display: grid;
    grid-template-columns: 80px auto 80px;
}
.containerChat {
    grid-column-start: 2;
    width: 100%;
    min-width: 350px;
    display: grid;
    grid-template-columns: auto 125px;
    /* align-items: center; */
    border: solid;
    border-radius: 5px;
    border-color: #2d2d2d !important;
    border-width: 1px;
    margin-top: 15px;
    /* margin-bottom: 15px; */
}
.pChat{
    padding: 15px;
    padding-bottom: 0px;
}
.containerChat .clientSurnameChat {
    font-size: 25px;
    /* margin-top: 15px; */
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.containerChat .clientNameChat {
    font-size: 25px;
    /* margin-top: 15px; */
    margin-bottom: 0;
    margin-right: 0;
}
.emailChat {
    font-size: 18px;
    margin-top: -25px;
    padding-left: 5px;
    /* margin-top: ; */
    color: #767676;
}
.pTextChat{
    min-height: 30px;
    height: auto;
    width: 100%;
    background: #f0f1f8;
    margin: 15px;
    padding: 5px;
    /* padding-top: 10px; */
    border-radius: 7px;
}
.textChat {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 5px;
}
.buttonListChat {
    grid-column-start: 2;
    margin-top: 15px;
    /* margin-bottom: 10px; */
    padding-right: 5px;
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
}
.dateChat{
    font-size: 14px;
    margin-bottom: 0;
}
.timeChat{
    font-size: 14px;
    margin-top: -35px;
}
.surnameNameChat{
    display: flex;
}
.surnameNameMailChat {
    display: grid;
    /* text-align: center; */
    /* flex-direction: column; */
}
.pPurnameNameChat{
    display: flex;
    padding-left: 10px;
}
.profileImgChat{
    height: 100px;
    width: 100px;
    border-radius: 90px;
    object-fit: scale-down;
    background: #767676;
}


.addChat{
    height: auto;
    background: #d4d9fa;
    text-align: center;
    justify-content: center;
    padding: 3%;
    display: flex;
}
.textareaChat{
    height: 80%;
    min-height: 100px;
    min-width: 300px;
    width: 80%;
    margin: 15px;
    resize: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    outline: none;
}
.buttonMessageChat{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* text-align: center; */
}
.buttonMessageChat::after{
    content: "";
    display: block;
    width: 0px;
    height: 24px;
    overflow: hidden;
    background-image: url("../../assets/image/addMesBtn.png");
    background-size: 25px;
    transition: width 200ms, margin-left 200ms;
}
.buttonMessageChat:is(:hover,:focus)::after{
    width: 24px;
    margin-left: 8px;
}

.pAddPhotoBtn{
    height: 25px;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
}
.imgphotoAddBox {
    margin: auto;
    margin-top: 10px;
    width: 15%;
    height: 15%;
}
.buttonTelMessageChat{
    display: none;
}
.btnPAddChat{
    display: inline-block;
    margin-top: 50px;
    color: #fff;
    background: #3B377C;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
}
/*  */
/*  */
.addPhotoFileBtn{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: 'center';
    align-items: 'center';
    padding: 5px;
    margin-top: 50px;
    color: #fff;
    background: #3B377C;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 18px;
}
.addPhotoFileBtn:hover{
    background: #5652a3;
}
.btnPAddChatPhone{
    display: none;
}
/*  */
/*  */
.btnPAddChat:hover{
    background: #5652a3;
}

/* .MyBtn{

}

@media only screen and (max-width:700px) {
    .MyBtn{
        margin-bottom: 0px;
        height: 20px;
        font-size: 15px;
    }
} */






@media only screen and (max-width:700px) {
    .backElementChat {
        grid-template-columns: 10px auto 160px !important;
        margin: auto;
        margin-top: 3%;
    }
    .addChat {
        width: 78%;
        align-items: center;
        /* margin-left: -45px;
        margin-right: 55px; */
    }
    .imgphotoAddBox {
        margin: auto;
        margin-top: 10px;
        width: 15%;
        height: 15%;
    }
    .textareaChat{
        height: 50%;
        min-height: 30px;
        min-width: 200px;
        width: 80%;
        margin: 5px;
        resize: none;
        border-radius: 5px;
        cursor: pointer;
    
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        background: #fff;
        outline: none;
    }
    .btnPAddChat{
        margin-bottom: 0px;
        height: 20px;
        font-size: 15px;
    }
    .pTextChat {
        overflow-wrap: anywhere;
        max-width: 180px;
    }
    .buttonListChat {
        margin-left: 35px;
    }
    .btnPAddChat{
        display: none;
    }

    .addPhotoFileBtn{
        margin-top: -5px;
        /* font-size: 18px; */
    }
    .btnPAddChatPhone{
        display: inline-block;
        width: 40px;
        height: 30px;
        text-align: 'center';
        align-items: 'center';
        padding-left: 3px;
        padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 8px;
        margin-top: -3px;
        color: #fff;
        background: #3B377C;
        border: none;
        outline: none;
        border-radius: 5px;
        transition: 0.2s;
    }
}