/* 
pChat */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
.elementChat{
    height: auto;
    display: grid;
}
.pageChat {
    min-height: 400px;
    margin-top: 5%;
}
.listChat {
    display: grid;
    grid-template-columns: 80px auto 80px;
}
.containerChat {
    grid-column-start: 2;
    width: 100%;
    display: grid;
    grid-template-columns: auto 125px;
    align-items: center;
    border: solid;
    border-radius: 5px;
    border-color: #2d2d2d !important;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.containerChat .clientChat {
    font-size: 25px;
    margin: 15px;
}
.containerChat .textChat {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.buttonListChat {
    align-items: center;
    grid-column-start: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.dateChat{
    font-size: 14px;
    margin-top: 50px;
}

