*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
.elementMyApp{
    height: auto;
    display: grid;
}
/* .buttonMyApp {
    display: flex;
    height: 100px;
    justify-content: center;
} */
.pageMyApp {
    min-height: 400px;
    margin-top: 5%;
    grid-column-start: 1;
}
.listMyApp {
    display: grid;
    grid-template-columns: 80px auto 80px;
}
.containerMyApp {
    grid-column-start: 2;
    width: 100%;
    display: grid;
    grid-template-columns: auto 125px;
    align-items: center;
    border: solid;
    border-radius: 5px;
    border-color: #2d2d2d !important;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.containerMyApp .descriptionMyApp {
    font-size: 25px;
    margin: 15px;
}
.containerMyApp .clientMyApp {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.buttonListMyApp {
    align-items: center;
    grid-column-start: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.dateMyApp{
    font-size: 14px;
    margin-top: 5px;
}