*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

.accountBox {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.inputBox {
    margin-right: 10%;
    margin-left: 10%;
}
.photoBox {
    text-align: center;
    border-width: 10px;
}
.account {
    padding: 3px;
    height: 200px;
    width: 250px;
    border: 5px;
}
.divForButtonAdminProfile{
    justify-content: center;
    display: grid;
    justify-items: center;
}
/* .divForButtonAdminProfile:first{
    justify-self: center;
    margin: auto;
    align-items: center;
    justify-items: center;
} */
.divForButtonAdminProfileChart{
    margin-top: 25px;
    align-items: center;
    display: flex;
    text-align: center;
}
.divForButtonAdminProfileChart p{
    margin-right: 20px;
    margin-top: 5px;
}
@media only screen and (max-width: 700px) {
    .accountBox{
        margin-top: 30%;
        height: 700px;
        margin-bottom: 20%;
    }
    .inputBox {
        margin-right: 10%;
        margin-left: 6%;
        margin-top: 5%;
    }    

    .divForButtonAdminProfileChart{
        justify-content: center;
        justify-items: center;
        margin-top: 25px;
        align-items: center;
        display: grid;
        text-align: center;
    }
    .divForButtonAdminProfileChart p{
        margin-right: 10px;
        margin-top: 5px;
        font-size: 18px;
    }
    #password {
        width: 300px;
    }
}
