.footer {
  background: #363636;
  height: 300px;
  text-align: center;
  color: rgb(210, 210, 210);
  font-size: 25px;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 250px 50px;
  position: relative;
  width: 100%;
  bottom: 0px;
  left: 0;
  z-index: -1;
}
.text-a {
  color: rgb(210, 210, 210);
}
.column1 {
  grid-column-start: 1;
  margin-left: 80px;
  margin-top: 45px;
}

.footer-col1-row2 {
  margin-left: 80px;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
}

.column2 {
  grid-column-start: 2;
  margin-top: 45px;
}

.icon-text {
  color: gray;
}

h4 {
  height: inherit;
}

h5 {
  margin: 0;
  padding-top: 5px;
  color: rgb(210, 210, 210);
}

.column3 {
  grid-column-start: 3;
  margin-top: 45px;
}

.bottom-text {
  bottom: 0px;
  position: absolute;
  margin-right: 35px;

  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 20px;
}

.column1,
.column2,
.column3 {
  /* display: grid; */
  justify-content: center;
  align-items: left;
  text-align: left;
}

.row1,
.row2 {
  display: grid;
  grid-row-end: 3;
  grid-row-start: 1;
}
.row1 {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  width: 100%;
}

@media only screen and (max-width:700px) {
    .footer {
        grid-template-columns: none;
        padding: 0;
        position: relative;
        height: 550px;
        text-align: center;
        font-size: 20px;
        display: grid;
        grid-template-rows: 125px 200px;
        justify-content: center;
        align-content: center;
        bottom: 0%;
    }

    .column1 {
        grid-row-start: 1;
        grid-column-start: 1;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .column2 {
        grid-row-start: 2;
        width: 100%;
        grid-column-start: 1;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .column3 {
        grid-row-start: 3;
        width: 100%;
        grid-column-start: 1;
        text-align: center;
        margin-bottom: 25px;
    }

    .bottom-text {
        grid-row-start: 4;
        width: 100%;
        grid-column-start: 1;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 17px;
    }

    h4 {
      margin-bottom: 10px;
    }
    h5 {
      margin-top: 0;
      padding-top: 5px;
      color: rgb(210, 210, 210);
    }
    
}

/* Для простого
.dark-bg-soft {
    max-height: 280px;
}
.dark-bg-soft{
    background: #303540 none repeat scroll 0 0;
    max-height: 600px;
    margin: 0;
}*/
