.containerMyAppAdm {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background: #d4d9fa;
    border: none;
    padding: 15px;
    margin: 15px;
}

.canceled {
    background-color: rgba(252, 167, 167, 0.8);
}

.finished {
    background-color: rgba(161, 250, 156, 0.7);
}

.containerMyAppAdm .descriptionMyAppAdm {
    font-size: 25px;
    margin: 15px;
}
.containerMyAppAdm .clientMyAppAdm {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.typeMyAppAdm{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}
.buttonListMyAppAdm {
    margin-left: auto;
    padding-right: 20px;
    grid-column-start: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    justify-content: center;
}
.dateMyAppAdm{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    
}
.mailMyAppAdm{
    font-size: 15px;
    margin-top: 13px;
    /* padding-left: 25px; */
    /* margin-bottom: 5px; */
    color: #767676;
}
.clientLoginNameAdm{
    display: flex;
    /* flex-direction: column; */
    /* align-self: center; */
    /* align-items: center; */
    /* align-content: center; */
    text-align: center;
}
.selectBoxApplAdm{
    display: flex;
    margin-right: 35px;
}
.labelSelectApplicAdm{
    display: grid;
}
.labelSelectAppAdm{
    padding-left: 10px;
    font-size: 15px;
    color: #767676;
}
.pMyAppAdm{
    display: grid;
    /* grid-template-columns: 80px auto 80px; */
}
.btnPListMyAppAdm{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.btnPListMyAppAdm::after{
    content: "";
    display: block;
    width: 0px;
    height: 24px;
    overflow: hidden;
    background-image: url("../../../assets/image/chatBtn.png");
    background-size: 25px;
    transition: width 200ms, margin-left 200ms;
}
.btnPListMyAppAdm:is(:hover,:focus)::after{
    width: 24px;
    margin-left: 8px;
}

@media only screen and (max-width: 700px) {
    .containerMyAppAdm {
        padding: 0;
        flex-direction: column;
        width: 90%;
    }
    .clientLoginNameAdm {
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }
    .mailMyAppAdm {
        margin-top: 0;
    }
    .pMyAppAdm {
        margin-left: 30px;
    }
    .descriptionMyAppAdm {
        font-size: 20px !important;
    }
    .typeMyAppAdm {
        font-size: 14px !important;
    }
    .selectBoxApplAdm {
        flex-direction: column;
    }
    .buttonListMyAppAdm {
        /* margin-left: -60px; */
        margin: auto;
    }
}